@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    padding: 20px;
    overflow: auto;
}

/* header{
    display: inline;
} */

h2, h3 {
    color: #00a2c6;
}

.brand{
    font-size: 26px;
    color: white;
    font-weight: bold;
    float: left;
    flex-basis: 20%;
    text-decoration: none;
    margin: auto;
    margin-left: 30px;
}

.nav-container{
    background-color: #00a2c6;
    padding: 5px;
    display: flex;
}

.navbar {
    flex-basis: 80%;
}

.navbar li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.navbar a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    font-weight: bold;
}

.btn-dropdown{
    display: none;
}

.profile{
    text-align: center;
}

.futured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile image{
    width: 200px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron{
    padding: 60px;
    /* color:white; */
}

.banner-text{
    padding: 50px;
    line-height: 1.5;
}

.slide{
    max-width: 600px;
    animation-name: fade;
    animation-duration: 1.5s;
    display: none;
}

.slider-wrapper{
    position: relative;
}

.slider-navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-navigation .prev, .slider-navigation .next{
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 10px;
    user-select: none;
    color: white;
    transition: 0.5s ease;
}

.slider-navigation .prev:hover, .slider-navigation .next:hover{
    background-color: rgba(255, 255, 255, 0.4);
    color: #1c1c1c;
}

.d-flex{
    display: flex;
    overflow: hidden;
}

.box{
    flex-grow: 1;
}

#content{
    float: left;
    width: 75%;
}

aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

/* slider */



footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}



@keyframes fade{
    from{opacity: 0.2;}
    to{opacity: 1;}
}

@media screen and (max-width: 1000px){
    #conten, aside{
        width: 100%;
        padding: 0px;
    }
    .navbar{
        display: none;
    }
    .brand{
        flex-basis: 80%;
    }
    .nav-container{
        padding: 20px;
    }
    .btn-dropdown{
        display: block;
    }
}
